{% extends 'LoisteMinesweeperBundle::base.html.twig' %}

{% block body %}
{{ msg }}<br><br>
<form action="{{ path('LoisteMinesweeperBundle_start')}}" method='POST'>
<input type='submit' name='new' value='New Game'>&nbsp
Mine density:&nbsp<input type='text' size='3' name='prob' value="{{ pr }}">
Rows:&nbsp<input type='text' size='2' name='nrow' value="{{ Y }}">
Columns:&nbsp<input type='text' size='2' name='ncol' value="{{ X }}">
</form><br>

<table id="game" data-route-make-move="{{ path('LoisteMinesweeperBundle_makeMove') }}">
    {% for y in 0..Y-1 %}
    <tr>
        {% for x in 0..X-1 %}
        <td class="game-cell">
           <img src="{{ asset('bundles/loisteminesweeper/images/' ~ grid[x][y]['p'] ~ '.png') }}" />
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
